div {
    font-family: sans-serif;
    color: #202122;
    direction: ltr;
    font-size: calc(1em * 0.875);
    line-height: 1.6;
}
table {
    font-family: sans-serif;
    direction: ltr;
    line-height: 1.6;
    font-size: 100%;
    background-color: #f8f9fa;
    color: #202122;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
    text-align: center;
}
tr {
    font-family: sans-serif;
    direction: ltr;
    line-height: 1.6;
    font-size: 100%;
    color: #202122;
    border-collapse: collapse;
    text-align: center;
}
th {
    font-family: sans-serif;
    direction: ltr;
    line-height: 1.6;
    font-size: 100%;
    color: #202122;
    border-collapse: collapse;
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
    background-color: #eaecf0;
    text-align: center;
}
td {
    font-family: sans-serif;
    direction: ltr;
    line-height: 1.6;
    font-size: 100%;
    color: #202122;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
}
.p-right {
    font-family: sans-serif;
    direction: ltr;
    line-height: 1.6;
    font-size: 100%;
    color: #202122;
    border-collapse: collapse;
    text-align: right;
    margin: 0.5em 0;
}
.p-left {
    font-family: sans-serif;
    direction: ltr;
    line-height: 1.6;
    font-size: 100%;
    color: #202122;
    border-collapse: collapse;
    text-align: left;
    margin: 0.5em 0;
}
p {
    font-family: sans-serif;
    direction: ltr;
    line-height: 1.6;
    font-size: 100%;
    color: #202122;
    border-collapse: collapse;
    text-align: center;
    margin: 0.5em 0;
}
textarea {
    text-align: center;
    width: 95%;
    height: 100px;
    resize: none;
}
